@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Secular+One&display=swap');

body {
    background-color: rgb(30, 197, 141);
    font-family: 'Secular One', sans-serif;
}

.main-box {
    height: 45vh;
    width: 45vw;
    border-radius: 12px;
}

input {
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid aliceblue;
}

input:focus {
    outline: none;
}

::placeholder {
    color: whitesmoke;
    opacity: 1;
}

input:focus::placeholder {
    color: transparent;
}

input,
select,
textarea {
    color: #fff;
}